body{
    margin: auto;
    /* background-color: white; */
}
.contact{
    text-align: center;
    list-style: 2px solid;
}
.add{
    /* border: 1px solid; */
    background-color: azure;
    height: 100px;
    width: 1300px;
    align-items: center;
    margin-left: 30px;
    box-shadow: black 0px 2px 6px;
}
.address{
    width: 410px;
    height: 80px;
    text-align: center;
    /* border: 1px solid; */
    float: left;
    margin: 10px;
    border-spacing: 30px;
    /* box-shadow: black 0px 2px 6px; */
    /* background-color: blanchedalmond; */
}
.all{
    background-color: azure; 
    height: 400px;
    width: 1300px;
    margin-left: 30px;
    margin-right: 30px;  
    margin-top: 50px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: black 0px 2px 6px;
}
.name{
    border: rgb(184, 173, 173) 1px solid;
    height: 60px;
    width: 596px;
    /* border-spacing: 50px; */
    /* border-radius: 20px; */
    column-gap: 10px;
    float: left;
    margin: 4px;
    padding-left: 10px;
    padding-right: 20px;
}
.sub{
    border: rgb(184, 173, 173) 1px solid;
    height: 60px;
    width: 1250px;
    border-spacing: 50px;
    /* border-radius: 20px; */
    float: left;
    padding-left: 10px;
    margin-top: 20px;
}
.message{
    border: 1px solid;
    height: 150px;
    width: 1250px;
    border: rgb(184, 173, 173) 1px solid;
    /* border-spacing: 50px; */
    /* border-radius: 20px; */
    float: left;
    padding-left: 10px;
    margin-top: 20px;
}
.send{
    border: 1px solid;
    height: 50px;
    width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    flex: auto;
    margin-top: 330px;
    margin-left: 550px;
    background-color: blue;
}
.boots{
    width: 1400px;
    height: 200px;
    text-align: center;
    border: 1px solid;
    margin-top: 20px;
    color: white;
    /* float: left; */
    /* margin: 10px; */
    /* border-spacing: 30px; */
    background-color: blue;
}